body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-weight: 800;
      padding: .5em;
      margin: 2 em;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  display: flex ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
}
#nav li a {
    display: ;
    padding: 3px 15px;
    text-decoration: none;
    font-weight: regular;
    color: #FF1493;
    border-right: 1px solid #ccc; }
 
li {
    display: inline;
}

h1 {
  font-size: em;
}

h2 {
  font-size: 1 em;
  padding: .45em 0;
  color: #ffffff;
  border-bottom-color: #FF1493;
}

div {
  padding: 20px;
  
}
@media (max-width: 400px) {
   nav {
      width: 50%;
      font-size: 1em;
       padding left: 20px;
     display: inital;
    }
}
#about{
     font-size: 1em;
     width: 80%;
   }
}

@media (max-width: 500px) {
   nav a {
      margin: 5 3em 1em .5em;
    }
  #about, #services {
      width: 90%;
      padding: 0;
      margin: 0 1em;
   }
  #services {
    margin-bottom: 1.5em;
    }
}
footer {
  text-align: center;
  border-top: 1px solid black;
  padding: 18px 0;
  margin-top: 40px;
  clear: both;
}

img {
  display: block;
  margin: 0 auto;
  clear: both;
  width: ;
}

#hero {
  background: #ffffff;
}

section {
  background: #000000;
  color: white;
  overflow: auto;
}

#about {
   font-size: 1.2em;
   width: 70%;
   display: inline-block;
}

#services {
   font-size: 1.2em;
   width: 40%;
   float: ;
}

@media (max-width: 800px) {
  nav {
   display: run-in;
   width: 80%;
   display: run-in;
  }

@media (max-width: 800px) {
  nav {
  display: run-in;
   width: 400px;
}
